In [3]:
import pandas as pd
df = pd.read_excel('icecontro2025pagoest.xlsx')

In [9]:
df

,CURSO,INICIO,FINALIZA,GRUPO,PROF,PARTICIPANTES,TELEFONO,CEDULA,INICIAL,FECHA DE PAGO,...,CERT,TOTAL ESTE CURSO,STATUS,4897,LIQUIDACION INSTRUCTORES,PAGO,ADELANTOS,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Rep. Equipos Elect. Y tarj. Dig.,2025-01-18 00:00:00,2025-02-22,ED012025,IGNACIO,7,NaN,NaN,10.0,NaT,...,CERT,490.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaT,NaN,NaN,LENYER GABRIEL MARIN GOMEZ,4146047874,31559950.0,10.0,2024-12-14,...,NaN,NaN,NaN,SEM1,28,Liquidada,NaN,NaN,NaN,NaN
2,NaN,NaN,NaT,NaN,se retir√≥,GABRIEL GUADALUPE REYES GARCIAS,4269866901,30756638.0,10.0,2024-12-14,...,NaN,NaN,NaN,SEM2,36,Liquidada,NaN,NaN,NaN,NaN
3,NaN,NaN,NaT,NaN,NaN,LUISELYS AUXILIADORA MEDINA OCANDO,4125758802,28649694.0,10.0,2024-12-18,...,NaN,NaN,NaN,SEM3,38,Liquidada,NaN,NaN,NaN,NaN
4,NaN,NaN,NaT,NaN,NaN,MANUEL ALEJANDRO CARDENAS MARTINEZ,4146851112,30193200.0,10.0,2025-01-07,...,NaN,NaN,NaN,SEM4,22,Liquidada,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
417,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
418,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
419,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
420,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN